<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespcae原来指命名空间 -->
<!-- 现在namespace指要映射给哪个接口 -->
<mapper namespace="dao.C_StudentDao">
	
<!-- 	<select id="query" resultType="entity.User" parameterType="entity.UserQueryDto">
		select * from user
		<where>
			<if test="userName!=null and userName !=''">
				and UserName like '%${userName}%'
			</if>
			<if test="identity!=null">
				and Identity = #{identity}
			</if>
		</where>
	</select> -->

	<select id="queryAll" resultType="entity.Student">
		select * from student 
	</select>

	<insert id="insert" parameterType="entity.Student">
		insert into
		student(sId,sName,sPassword,sAcademy,sEmail,sState)
		values(#{sId},#{sName},#{sPassword},#{sAcademy},#{sEmail},#{sState})
	</insert>

	<!-- <update id="update" parameterType="entity.User">
		update user set
		UserName=#{userName},Password=#{password},Identity=#{identity}
		where UserId=#{userId}
	</update> -->

	<delete id="delete" parameterType="java.lang.Integer">
		delete from student where sId=#{sId}
	</delete>

	<select id="queryById" parameterType="java.lang.Integer"
		resultType="entity.Student">
		select * from student where sId=#{sId}
	</select>
	
	<select id="queryByName" parameterType="java.lang.String"
		resultType="entity.Student">
		select * from student where sName=#{sName}
	</select>

</mapper>